/* Snowflake animation styles */
#snow-container .snowflake {
    position: absolute;
    top: -10px;
    color: white; /* You can customize this color */
    font-family: Arial, sans-serif;
    animation: fall linear infinite;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  